{% extends 'base.html' %}
{% load i18n %}
{% load compress %}
{% block body %}
{% compress css %}
<link rel=stylesheet type=text/less href={{ STATIC_URL }}less/project/project.less />
{% endcompress %}
<div class="row projects-header">
  <div class=col-xs-12>
    <h1 class=pull-left>{{project.name}}</h1>
    {% if not is_freelancer %}
    <a href=/project/{{project.id}}/edit/ class="create-project-btn btn btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span> {% trans ' Rediger prosjekt' %}</a>
    {% endif %}
  </div>
</div>
<div class=row>
  <div class="col-xs-12">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              {% trans 'Vis prosjektbrief' %}
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            {{project.brief | safe}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row project-info">
  <div class="col-sm-4 col-xs-12">
    <div class=well>
      <h4>
        {% if project.client %}
          <p><span class=emphasized>{% trans 'Kunde: ' %}</span>{{project.client.name}}</p>
          {% if not is_freelancer %}
          {% if project.client.contact_person %}
          <p><span class=emphasized><span class="glyphicon glyphicon-user"></span></span> {{project.client.contact_person}}</p>
          {% endif %}
          {% if project.client.phone %}
          <p><span class=emphasized><span class="glyphicon glyphicon-earphone"></span></span> {{project.client.phone}}</p>
          {% endif %}
          {% if project.client.mail %}
          <p><span class=emphasized><span class="glyphicon glyphicon-envelope"></span></span> {{project.client.mail}}</p>
          {% endif %}
          {% endif %}
        {% else %}
        <p><span class=emphasized>{% trans 'Internt prosjekt' %}</p>
        {% endif %}
      </h4>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class=well>
      <h3>
        <span class=emphasized>{% trans 'Start: ' %}</span>{{project.start_time|date:"j.m.Y H:i"}}
      </h3>
    </div>
  </div>
  <div class="col-sm-4 col-xs-12">
    <div class=well>
      <h3>
        <span class=emphasized>{% trans 'Slutt: ' %}</span>{{project.end_time|date:"j.m.Y H:i"}}
      </h3>
    </div>
  </div>
</div>
<div class=row>
  <div class="col-xs-12 todos-header">
    {% if project.finished_todos or project.remaining_todos %}
    <h1 class=pull-left>{% trans 'Oppgaver' %}</h1>
    {% endif %}
    {% if not is_freelancer %}
    <a href=/project/{{project.id}}/todo/add/ class="create-project-btn btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span> {% trans 'Ny oppgave i dette prosjektet' %}</a>
    {% endif %}
  </div>
</div>
{% if project.finished_todos or project.remaining_todos %}
<div class=row>
  {% if project.finished_todos %}
  <div class="col-sm-6 col-xs-12">
    <div class=well>
      <h3>{% trans 'Ferdige oppgaver' %}</h3>
      <div class=row>
      {% for todo in project.finished_todos %}
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-success">
            <div class=panel-heading>
              <h3 class=panel-title>{{todo.title}}
              {% if not is_freelancer %}
                <a href="/project/{{project.id}}/todo/{{todo.id}}/delete/">
                  <span class="glyphicon glyphicon-remove pull-right"></span>
                </a>
                <a href="/project/{{project.id}}/todo/{{todo.id}}/edit/">
                  <span style=margin-right:20px; class="glyphicon glyphicon-pencil pull-right"></span>
                </a>
              {% endif %}
              </h3>
            </div>
            <div class=panel-body>
              {% if todo.text%}
                <p>
                  <span class=emphasized>{% trans 'Beskrivelse:' %}</span> {{todo.text}}
                </p>
              {% endif%}
              <p>
                <span class=emphasized>{% trans 'Deadline:' %}</span> {{todo.deadline|date:"j.m.Y H:i"}}
              </p>
            </div>
            <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> {{todo.user.first_name}} {{todo.user.last_name}}</li>
            </ul>
          </div>
        </div>
      {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class=row>
      {% endif %}
      {%  endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if project.remaining_todos %}
  <div class="col-sm-6 col-xs-12">
    <div class=well>
      <h3>{% trans 'Gjenstående oppgaver' %}</h3>
      <div class=row>
      {% for todo in project.remaining_todos %}
        <div class="col-sm-6 col-xs-12">
          <div class="panel panel-danger">
            <div class=panel-heading>
              <h3 class=panel-title>{{todo.title}}
                {% if not is_freelancer %}
                <a href="/project/{{project.id}}/todo/{{todo.id}}/delete/">
                  <span class="glyphicon glyphicon-remove pull-right"></span>
                </a>
                <a href="/project/{{project.id}}/todo/{{todo.id}}/edit/">
                  <span style=margin-right:20px; class="glyphicon glyphicon-pencil pull-right"></span>
                </a>
                {% endif %}
              </h3>
            </div>
            <div class=panel-body>
              {% if todo.text%}
                <p>
                  <span class=emphasized>{% trans 'Beskrivelse:' %}</span> {{todo.text}}
                </p>
              {% endif%}
              {% if todo.deadline %}
              <p>
                <span class=emphasized>{% trans 'Deadline:' %}</span> {{todo.deadline|date:"j.m.Y H:i"}}
              </p>
              {% endif %}
            </div>
            <ul class="list-group">
              <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> {{todo.user.first_name}} {{todo.user.last_name}}</li>
            </ul>
          </div>
        </div>
      {% if forloop.counter|divisibleby:2 %}
      </div>
      <div class=row>
      {% endif %}
      {%  endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}
